.Purchase-Main-Content{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Purchase-Cards{
    width: 30vw;
    height: 70vh;
    section{
        height: 80%;
        min-height: 50vh;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}